.wrapper {
  /*width: 90%;*/
  /*max-width: 960px;*/
  /*margin: 0 auto;*/
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 2px;
  /*width: 50vw;*/
  /*height: 50vw;*/
}

.col {

}

.blank {
  background: rgba(255,150,150,0.1);
  transition: background-color 0.2s;
}

.fill {
  background: rgb(255,150,150);
  transition: background-color 0.2s;
}